// Fonts
$font-primary: 'Inter', sans-serif;

// Colors
$color-blue: #31c5ff;
$color-yellow: #faff00;
$color-green: #42ff00;
$color-black: #111212;
$color-grey: #5b5c5c;
$color-grey-light: #f9f9f9;
$color-white: #fff;
