:root {
    font-family: var(--font-sans);
    line-height: var(--leading-normal);
    font-weight: var(--font-normal);
    color-scheme: light dark;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    place-items: center;
}

a {
    font-weight: var(--font-medium);
    color: var(--color-accent);
    text-decoration: inherit;

    &:hover {
        color: var(--color-accent-hover);
    }
}

h1 {
    font-size: 3.2em;
    line-height: var(--leading-tight);
}
