<!DOCTYPE html>
<html lang="en">
    @@include("../views/parts/head.html", { "title": "Project page | Helikon" })
    <body>
        @@include("../views/parts/header.html")

        <main class="section mt-40 overflow-hidden">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                        <a class="btn btn-white btn-xs mb-24" href="/">back</a>
                        <div class="product-item w-100 h-auto product-item--style-subvt mb-40 mb-md-60">
                            <div class="product-item__content">
                                <img
                                    class="product-item__logotype"
                                    src="img/projects/subvt/subvt-logo.svg"
                                    alt="SubVT logotype"
                                    width="169"
                                    height="46" />
                                <div class="product-item__description text text-sm mt-30 mt-md-40 mb-40 mb-md-80">
                                    <p>
                                        SubVT (Substrate Validator Toolkit) is a native mobile application for iOS and
                                        Android phones, tablets and wearables that provides node operators with tools
                                        that aid them in running their validators on any Substrate-based blockchain
                                        network.
                                    </p>
                                    <p>
                                        <small>
                                            Development of SubVT is proudly supported by the Kusama Treasury through
                                            on-chain motions #426 and #326.
                                        </small>
                                    </p>
                                </div>
                                <div class="product-item__panel hstack flex-wrap g-14 align-items-center">
                                    <a class="btn btn-white btn-sm py-10 px-16 text-sm" href="#">
                                        <svg class="icon" aria-hidden="true">
                                            <use xlink:href="img/sprite.svg#link"></use>
                                        </svg>
                                        <span>subvt.com</span>
                                    </a>
                                    <a
                                        class="btn btn-white btn-icon btn-sm py-9 px-16 text-sm"
                                        href="#"
                                        aria-label="Github link">
                                        <img src="img/github-logo-sign.svg" alt="Github logo" />
                                    </a>
                                    <a class="ms-auto" href="#">
                                        <img
                                            src="img/projects/subvt/kusama-logo-supported.svg"
                                            alt="Kusama logo"
                                            width="113"
                                            height="39" />
                                    </a>
                                </div>
                            </div>
                            <div class="product-item__shape">
                                <img
                                    src="img/projects/subvt/subvt-shape.png"
                                    alt="Subvt shape"
                                    aria-hidden="true"
                                    width="400"
                                    height="400" />
                            </div>
                        </div>
                        <h1 class="h3 mb-20 mb-md-40">Lorem ipsum</h1>
                        <div class="raw text text-md mb-40 mb-md-60">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <h5>Lorem ipsum dolor sit amet</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.
                            </p>
                            <p>Lorem ipsum dolor sit amet:</p>
                            <ol>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                            </ol>
                            <ul>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Lorem ipsum dolor sit amet</li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <blockquote>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </blockquote>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <p class="text-center">
                                <img src="img/projects/subvt/subvt-content-image.png" alt="Image" />
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                <a href="#">officia deserunt mollit</a>
                                anim id est laborum.
                            </p>
                        </div>
                        <div class="hstack align-items-center flex-wrap g-14">
                            <a class="btn btn-white px-16 text-md" href="#">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="img/sprite.svg#link"></use>
                                </svg>
                                <span>subvt.com</span>
                            </a>
                            <a class="btn btn-white px-16 text-md" href="#">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="img/sprite.svg#link"></use>
                                </svg>
                                <span>link</span>
                            </a>
                            <a class="btn btn-white px-16 text-md" href="#">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="img/sprite.svg#link"></use>
                                </svg>
                                <span>link</span>
                            </a>
                            <a class="btn btn-white btn-icon" href="#" aria-label="Github link">
                                <img src="img/github-logo-sign.svg" alt="Github logo" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-120 mt-xxl-180 position-relative">
                <video class="updates__bg" poster="img/hero-bg.jpg" autoplay loop muted playsinline>
                    <source src="files/hero-bg.webm" type="video/webm" />
                    <source src="files/hero-bg.mp4" type="video/mp4" />
                </video>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <h3>Recent Updates</h3>
                            <div class="text text-md mt-40">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                            <div class="mt-40">
                                <div class="vstack g-20">
                                    <div class="updates-item">
                                        <div class="d-flex flex-wrap g-20 align-items-start justify-content-between">
                                            <h6>Update Name</h6>
                                            <span class="updates-item__date">29th November 2020</span>
                                        </div>
                                        <div class="text text-xs mt-16">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="updates-item">
                                        <div class="d-flex flex-wrap g-20 align-items-start justify-content-between">
                                            <h6>Update Name</h6>
                                            <span class="updates-item__date">29th November 2020</span>
                                        </div>
                                        <div class="text text-xs mt-16">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="updates-item">
                                        <div class="d-flex flex-wrap g-20 align-items-start justify-content-between">
                                            <h6>Update Name</h6>
                                            <span class="updates-item__date">29th November 2020</span>
                                        </div>
                                        <div class="text text-xs mt-16">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-40">
                                <button class="btn btn-white btn-xs" type="button">more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        @@include("../views/parts/footer.html")

        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>
