<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__content">
                <h2>Founder</h2>
                <div class="row mt-40 mb-40 mb-sm-60">
                    <div class="col">
                        <div class="d-flex flex-column flex-xl-row">
                            <div class="footer__avatar mb-30 mb-sm-40 me-xl-40">
                                <div>
                                    <img src="img/kukabi.jpeg" src="Kutsal Kaan Bilgin">
                                </div>
                            </div>
                            <div>
                                <div class="text text-md">
                                    Coming from a Computer Science background with nearly 20 years of software industry
                                    experience, Kutsal was introduced to the blockchain space in 2019 through his work
                                    for <a href="https://www.tari.com/" target="_blank">Tari Labs</a>. His past work as
                                    a developer and leader covers a multitude of enterprise and startup projects in
                                    multiple settings from defense industry to fintech startups and microchip and
                                    sensors development for art installations. He has been working since early 2021 to
                                    deliver high-quality software products and validator services for the Polkadot
                                    ecosystem.
                                </div>
                                <div class="hstack g-14 align-items-baseline mt-16 mt-sm-24">
                                    <div class="h4">Kutsal Kaan Bilgin,</div>
                                    <span class="text-sm">Founder</span>
                                </div>
                                <div class="hstack g-14 align-items-center mt-4">
                                    <a
                                        class="btn btn-secondary btn-icon"
                                        href="https://github.com/kukabi"
                                        aria-label="Kutsal Kaan Bilgin GitHub Profile"
                                    >
                                        <img src="img/github-logo-sign.svg" alt="Kutsal Kaan Bilgin GitHub Profile" />
                                    </a>
                                    <a class="link text-md" href="mailto:kutsal@helikon.io">kutsal@helikon.io</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 mt-30 mt-sm-40 mt-xl-0">
                        <div class="hstack flex-wrap g-14 align-items-center">
                            <a class="btn btn-secondary py-9 px-16 text-md" href="https://kusama.network">
                                <img src="img/kusama-logo-sign.svg" alt="Kusama Network" width="24" height="24" />
                                <span>Kusama</span>
                            </a>
                            <a class="btn btn-secondary py-9 px-16 text-md" href="https://polkadot.network">
                                <img src="img/polkadot-logo-sign.svg" alt="Polkadot Network" width="24" height="24" />
                                <span>Polkadot</span>
                            </a>
                            <a
                                class="btn btn-secondary py-9 px-16 text-md"
                                href="https://github.com/helikon-labs"
                                aria-label="Helikon Labs Github"
                            >
                                <img src="img/github-logo-sign.svg" alt="Helikon Labs Github" width="24" height="24" />
                                <span>Helikon Labs</span>
                            </a>
                        </div>
                        <div class="row mt-30 mt-sm-40">
                            <div class="col-md-6 col-xl-12 text text-md mb-24 mb-sm-30 mb-md-0 mb-xl-30">
                                <p>Omer Avni Mah. Balcik Sok. 4/4<br>34427 Beyoglu<br>Istanbul Turkey</p>
                            </div>
                            <div class="col-md-6 col-xl-12 text-md">
                                <div class="vstack align-items-start g-12">
                                    <a class="link" href="mailto:info@helikon.io">info@helikon.io</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="hstack flex-wrap g-12 justify-content-between pt-20 pt-sm-20 border-top text-secondary text"
                >
                    <span>&copy; Helikon. All rights reserved.</span>
                    <!--a href="/policy.html">Privacy Policy</a-->
                    <span>This site does not collect data or use cookies.</span>
                </div>
            </div>
        </div>
    </div>
</footer>
