<head>
    <meta charset="utf-8" />
    <title>@@title</title>
    <meta name="description" content="Helikon site description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="img/favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
    <link type="image/png" href="img/favicon/favicon-32x32.png" rel="icon" sizes="32x32" />
    <link type="image/png" href="img/favicon/favicon-16x16.png" rel="icon" sizes="16x16" />
    <link href="img/favicon/site.webmanifest" rel="manifest" />
    <link href="img/favicon/safari-pinned-tab.svg" rel="mask-icon" color="#000000" />
    <meta name="apple-mobile-web-app-title" content="Helikon" />
    <meta name="application-name" content="Helikon" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <link href="styles/main.css" rel="stylesheet" />
</head>
